.screen {
  height: 100%;
}
.board {
  border-radius: 10px 10px 3px 2px;
  margin-top: 10%;
  background-color: white;
  height: 45em;
  overflow: auto;
}
.complain {
  margin-top: 2%;
  background-color: #0496ff;
  padding: 0.5%;
  border-radius: 10px 10px 10px 10px;
  margin-right: 10%;
  margin-left: 2%;
}
.list {
  height: 90vh;
  overflow: auto;
}
.btn {
  width: 7em;
}
.answer {
  border-radius: 10px 10px 10px 10px;
  background-color: #0496ff;
  padding: 0.5%;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 10%;
}
