.contGrupo {
  background-color: white;
  height: 100%;
  padding-top: 7.5vh;
}
.filaSemana {
  margin-bottom: 5%;
}

.btnSemana {
  width: 75%;
}

.colSemanas {
  margin-top: 2.5vh;
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
  border-right-width: 1px;
  border-right: 1px solid #343a40;
}

.colSemanas::-webkit-scrollbar,
.colGrupal::-webkit-scrollbar,
.colIndividual::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px;
}

.colSemanas::-webkit-scrollbar-track,
.colGrupal::-webkit-scrollbar-track,
.colIndividual::-webkit-scrollbar-track {
  background: transparent;
}

.colSemanas::-webkit-scrollbar-thumb,
.colGrupal::-webkit-scrollbar-thumb,
.colIndividual::-webkit-scrollbar-thumb {
  background-color: rgb(75, 124, 155, 0.8);
  border-radius: 10px;
}
.lblNombreGrupo {
  font-family: "Fira Sans", sans-serif;
  color: #4f6367;
  text-shadow: 1px 0 #343a40, 0 2px #343a40, 1px 0 #343a40, 0 2px #343a40;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}
.btnEstadoActual {
  font-weight: bold;
}
.colEstadoActual {
  display: flex;
  align-items: center;
}
.filaNombre {
  height: 10vh;
}

.infoSemanaCon {
  height: 40.5vh;
}

.infoSemanaSin {
  height: 75.5vh;
}

.filaClpsEstadoActual {
  min-height: 35vh;
}

.colGrupal {
  border-right-width: 1px;
  border-right: 3px dashed #343a40;
}
.colGrupal,
.colIndividual {
  overflow: scroll;
  overflow-x: hidden;
}

.nombreFechaLbl {
  font-size: 3vh;
  margin-bottom: 1vh;
}
.titleInfoSemana {
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  color: #343a40;
}
.hrTitleInfo {
  margin-top: 0.5vh;
  width: 40%;
  height: 2px;
  border: 0;
  background-color: #343a40;
}

.linkEncuesta {
  cursor: pointer;
  font-size: 2vh;
  text-decoration: underline;
}

.titlesSemana {
  margin-left: 7.5%;
  margin-top: 2vh;
  margin-bottom:0.5vh;
  font-size: 2vh;
  font-weight: bold;
}

.notaCont {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  border: 0.3vh solid darkgray;
}

.filaPreguntaGrupal {
  margin-bottom: 2vh;
}
.cardEstadoActual {
  background-color: white;
  color: #343a40;
  font-weight: bold;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.rowInfoApis {
  height: 25vh;
}

.rowInfoAnalisis {
  height: 10vh;
}
.sonar {
  margin-top: 5vh;
  cursor: pointer;
}
.colInfo {
  height: 15vh;
}

.colInfoCenter{
  display: flex;
  align-items: center;
}

.contImg {
  max-height: 15vh;
  cursor: pointer;
}

.contBallImg {
  margin-top: 2vh;
  cursor: pointer;
}

.analisis {
  margin-top: 4vh;
  cursor: pointer;
}
.analisisImg {
  margin-top: 10%;
  cursor: pointer;
}

.test{
  background-color: red;
}