.NavInicial {
  background-color: #4f6367;
}
.App {
  background-color: #477998;
  height: 100vh;
}

.caret {
  display: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropDownSeccion {
  padding-left: 10%;
  padding-right: 10%;
  font-weight: bold;
  text-align: center;
}

.selectedSeccion {
  text-shadow: 0 0 #ffffff, 0 0 #ffffff, 0 0 #ffffff, 0 0 #ffffff;
}

.dropDownItemSelected {
  font-weight: bold;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chome - Opera */
}
